<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">MessageCollab</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div ng-controller="MainCtrl" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <ul class="nav navbar-nav navbar-right" ng-show="signedIn()">
      <li>
        <a href="/users/{{ currentUser.username }}">
          {{ currentUser.username }}
        </a>
      </li>
      <li ng-controller="AuthCtrl">
        <a href="/" ng-click="logout()">Logout</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-hide="signedIn()">
      <li>
        <a href="/register">Register</a>
      </li>
      <li>
        <a href="/login">Log In</a>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<div ng-controller='MainCtrl' class="container">
  <form name='startMessageForm' ng-submit="startMessage(startMessageForm.$valid)" ng-show="signedIn()" novalidate>

    <div class='form-group'>
      <div class='row'>
        <div class='col-sm-8 col-md-8'>
          <input ng-required='true' ng-maxlength='70' name="message_content" type="text" class="form-control input-class" placeholder="Start Message" ng-model="message.content">
        </div>
        <div class='col-md-4 col-sm-4'>
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </div>

    <div class='row'>
      <div ng-repeat="participant in participants">
        <select required ng-model='participant.name' ng-options="user as user for user in availableUsers"></select>
      </div>
    </div>

  </form>
    <button class="btn btn-default" ng-click="addParticipant()">Add Participant</button>
    <button ng-show="showRemove" class='btn btn-default' ng-click="removeParticipant()">Remove Participant</button>

    <div ng-repeat="(storyId, story) in feed | orderBy:'score': false">
      <div class="jumbotron">
        <div class="vote up"><span ng-hide="downVoted(story)" ng-click="upVotePost(storyId, upVoted(story))">▲</span></div>

        <div class="vote down"><span ng-hide="upVoted(story)" ng-click="downVotePost(storyId, downVoted(story))">▼</span></div>
        <p><a href="/messages/{{storyId}}">{{story.message}}</a><span>{{ story.score || 0 }}</p>

        <div ng-repeat="contributor in story.contributors">
          <div>{{contributor.name}}</div>
        </div>
      </div>
    </div>
</div>

