<div ng-show="checkView()" ng-controller='MainCtrl' class="container">
  <form ng-submit="continueMessage()">
    <input type="text" ng-model="message.content"/>
    <input type="submit" value="Submit Addition"/>
  </form>
  <button ng-click="completeMsg()">Complete Message</button>
  <button ng-click="checkView()">Check View</button>
</div>
<button ng-controlelr='AuthCtrl' ng-click="logout()">logout</button>
Feed: {{feed}}<br/>
Current Feed: {{currFeed || "No current feed available."}}

<h1 ng-hide="checkView()">NOT YOUR TURN YET</h1>

